@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

.message{
    font-size: 80px;
    line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
    
}
.block{
    line-height: 100px;
    font-family: "Dancing Script", cursive;

    padding: 100px;
  height: 100px;
  text-align: center;

}
.success_message{
    font-size: 30px;

}
